@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background: 240 5% 98%;
  --foreground: 200 8% 11%;
  --card: 0 0% 100%;
  --card-foreground: 200 8% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 200 8% 11%;
  --muted: 240 2% 96%;
  --muted-foreground: 270 9% 30%;
  --accent: 260 60% 41%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 73% 41%;
  --destructive-foreground: 0 0% 98%;
  --border: 270 10% 80%;
  --input: 270 10% 80%;
  --primary: 265 63% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 236 14% 41%;
  --secondary-foreground: 0 0% 100%;
  --ring: 265 63% 40%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  border-color: hsl(var(--border) / 0.15);
}

body {
  background-color: #faf9f9;
  color: #1a1c1c;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
